@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.banner {
     background-color:pink;
     background: url(../img/beautiful-stacked-dried-fruit-nuts.jpg);
     background-repeat: no-repeat;
     background-size: cover;

     height: 500px;
}


.banner_main::before {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
     bottom: -221px;
     height: 500px;
     background: url(../img/banner_bottom_cross.png);
     /* background-color: pink; */
     background-repeat: no-repeat;
     background-size: 100% 100%;
}

.banner_main {
     position: relative;
     background: url(../images/banner.jpg);
     background-repeat: no-repeat;
     min-height: 500px;
     background-size: 100% 100%;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
}

.text-bg {
     text-align: left;
     margin-right: -93px;
}

.text-bg h1 {
     color: #000000;
     font-size: 72px;
     line-height: 78px;
     font-weight: bold;
}

.text-bg h1 span {
     color: #55236d;
}

.text-bg p {
     font-size: 17px;
     color: #000000;
     line-height: 28px;
     font-weight: 500;
     padding-bottom: 50px;
     display: block;
}

.banner_img figure {
     margin: 0;
}

#points .heading {
     margin-bottom : 0px;
     /* margin: 40px; */
}